<h1>Welcome to the <span class="main-color">IDEAs</span> space</h1>
<p class="sub-header text-right">...to <span class="main-color">Share</span> & <span class="main-color">Debate</span> like no tomorrow > <span class="big-emoji">☺️</span></p>

<hr>
<br>

<p>
  <span class="big-emoji">🤔</span> < I would like to
  <%= link_to "SHARE", new_idea_path, class: "btn btn-sm btn-outline-primary" %>
  my Idea too!
</p>

<p class="text-right">
  I bet you want that!! And we cannot wait to <span class="main-color">debate</span> it all together > <span class="big-emoji">🤗</span>
</p>

<hr>
<br>

<div class="ideas-wrapper">

  <% @ideas.each do |idea| %>


    <div class="card-product">
      <div class="owner-avatar">
        <div class="avatar-username"><%= idea.user.github_username %></div>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{idea.user.github_username.present? ? idea.user.github_username : "ssaunier"}", class: "avatar-bordered", alt: "avatar" %>
      </div>

      <%= link_to idea_path(idea), class: "link-images" do %>
        <% if idea&.photos&.attached? %>
          <% idea.photos.each do |photo| %>
            <%= cl_image_tag photo.key, secure: true, height: 300, width: 400, crop: :fill %>
          <% end %>
        <% else %>
          <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" style="filter:hue-rotate(<%=rand(0..360)%>deg)" />
        <% end %>
      <% end %>

      <div class="card-product-infos">

        <%= link_to idea_path(idea), class: "idea-title-link main-color" do %>
          <h4 class="idea-title"><%= idea.title %></h4>
        <% end %>

        <% if idea.tag_list.present? %>
          <ul class="idea-tag-list">
            <% idea.tag_list.each do |tag| %>
              <li><%= tag %></li>
            <% end %>
          </ul>
        <% end %>

        <p class="idea-description"><%= idea.rich_description %></p>

      </div><!-- card-product-infos -->

    </div> <!-- card-product -->

  <br>
  <br>
  <% end %>

</div>