<%= simple_form_for @idea do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>

    <%= f.input :photos, as: :file, input_html: { multiple: true } %>

    <%= f.submit%>
<% end %>

<br>
<br>
<hr>
<br>
<br>

<% if @tags.present? %>
  <h4 class="main-color">#💡<br>Available TAGS</h4>
  <p><em>Pick some for your idea</em> </p>
  <ul>
    <% @tags.each do |tag| %>
      <li>
        <%= "#{tag[:name]} (#{tag[:count]})"%>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No TAGS yet..</p>
<% end %>