<%= link_to "<< back", ideas_path %>
<%= link_to "EDIT", edit_idea_path(@idea), class: "btn btn-outline-warning" if @idea.user == current_user %>

<% if @idea.tag_list.present? %>
  <ul class="idea-tag-list">
    <% @idea.tag_list.each do |tag| %>
      <li><%= tag %></li>
    <% end %>
  </ul>
<% end %>

<h1><%= @idea.title %></h1>
<p><%= @idea.rich_description %></p>

<% @idea.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 600, quality: :auto %>
<% end %>
